.subscription-widget {

	font-family: 'Open Sans', sans-serif !important;
    background-image: url("../assets/images/bg.png");
    background-repeat: repeat;

	.small-centered {
		text-align: center;
	}

	.header {
		color: white;
		font-size: 20px;
		padding-top: 40px;
		h1 {
			font-size: 32px;
			font-weight: 700;
			font-family: 'Open Sans', sans-serif !important;
			margin-bottom: 6px;
		}
		h4 {
			font-size: 18px;
			font-family: 'Open Sans', sans-serif !important;
			margin-bottom: 38px;
		}
	}

	.footer {
		color: white;
		font-size: 14px;
		padding-top: 18px;
		.terms-conditions-link {
			color: white;
			text-decoration: underline;
		}
	}

	.tab-list {
		max-width: 860px;
		.tabs-title {
			width: 50%;
			&:first-of-type {
				border-right: 1px solid #e6e6e6;
			}
			a {
				background: none;
				color: #222222;
				font-size: 18px;
				&[aria-selected='true'] {
					border-bottom: 5px solid #254b80;
					color: #254b80;
				}
			}
		}

		.tabs-panel {
			padding: 32px 76px;
			min-height: 210px;
			.button {
				height: 44px;
				width: 100%;
				background-color: #ff992c;
				border-radius: 3px;
				text-transform: uppercase;
				text-align: left;
				font-weight: 700;
				font-size: 12px;
				line-height: 22px;
				margin-bottom: 28px;
				.fa-chevron-right {
					float: right;
					font-size: 16px;
					line-height: 22px;
				}
			}
			input[type="text"], input[type="email"] {
				height: 44px;
				background-color: #ffefdd;
				border: 1px solid #ffddb9;
				width: 100%;
			}
			.collapse {
				>.columns {
					padding-right: 15px;
					&:last-of-type {
						padding-right: 0px;
					}
				}
			}
			.description {
			    font-size: 18px;
                font-weight: 600;
                a {
                	color: black;
                	text-decoration: underline;
                }
			}
			&#success {
				.description {
					padding-top: 60px;
				}
			}
		}
	}

}